/* body{
    background-color: rgb(187, 187, 187);
    border: 2px solid white;
    border-width: 0px ;
    
} */

.article{
    background: rgb(205, 201, 201);
    background-color: white;
    display: block;
}

header{
background-color: #2986cc;
max-width: 400px;
margin: auto;
color: white;
font-family: Arial, Helvetica, sans-serif white;
box-shadow: 0 10px 30px black;
/* margin-bottom: 0;
margin-left: 125px; */



}

/* .page{
    width: 40em;
    height: 50em;
    margin: 1em auto;
    background: white;
    box-shadow: 0 0 10px black;
    padding: 20em;
    box-sizing: border-box;
} */

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1px;
    max-width: 400px;
    margin: auto;
    background-color: white;
    box-shadow: 0 10px 30px black;
    /* margin-left: 125px;
    margin-top: 0; */
}
.grid-container img {
  width: 98%;
  height: 98%;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border 0.2s;
  cursor: pointer;
}